body {
    background-color: darkslategrey;
    color: lightcyan;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1, h2 {
    margin: 0;
}

nav {
    background-color: black;
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: wheat;
    padding: 5px 15px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
    background-color: #333;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

main {
    flex: 3;
    padding-right: 20px;
    order: 0;
}

.right-sidebar {
    flex: 1;
    padding: 15px;
    background-color: black;
    border-radius: 5px;
    order: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    background-color: #2a4141;
}

caption {
    padding: 10px;
    font-style: italic;
    font-size: 1.1em;
    color: wheat;
}

th {
    background-color: #008080;
    color: white;
    padding: 10px;
    border: 1px solid #1c3333;
}

td {
    padding: 10px;
    border: 1px solid #1c3333;
}

tbody tr:nth-child(even) {
    background-color: #314d4d;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: #9999;
    margin-top: 20px;
}