body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 5px;
    padding: 5px;
}

iframe {
    border:0
}

h1 {
    border: 10px solid white;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: gray;
}