p{
    color:blue;
    font-size: 24px;
} 

header h1{
    color: rgb(97, 155, 135);
}

h1{
    color: rgb(42, 235, 170);
}

h2{
    color: aquamarine;
}

p{
    color: chocolate;
}

ul{
    color: darkorange;
}